<app-search-bar (search)="onSearch($event)"></app-search-bar>

<div *ngIf="!loading && displayedCards.length === 0" class="no-cards-message">
  No se encontró ninguna carta
</div>

<div class="cards-grid" *ngIf="displayedCards.length > 0">
  <div class="card-item" *ngFor="let card of displayedCards" (click)="openModal(card)">
    <img [src]="card.images" [alt]="card.name" loading="lazy" />
  </div>
</div>

<div #scrollTrigger style="height: 1px;"></div>

<app-card-detail 
  *ngIf="showModal" 
  [card]="selectedCard" 
  (close)="closeModal()"
  (previous)="previousCard()"
  (next)="nextCard()">
</app-card-detail>