<div class="modal-background" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <!-- Header section -->
    <div class="card-header">
      <h1>{{ card?.name }}</h1>
      <div class="card-subheader">
        <span>{{ card?.code }}</span> | <span>{{ card?.type }}</span> | <span>{{ card?.rarity }}</span>
      </div>
    </div>
    
    <!-- Body section -->
    <div class="modal-body">
      <div class="left-panel">
        <img [src]="card?.images?.large" [alt]="card?.name">
      </div>
      <div class="right-panel">
        <div class="card-info">
          <!-- Primera fila: Coste y Atributo -->
          <div class="info-grid">
            <div class="info-row" *ngIf="card?.cost !== undefined">
              <span class="label">{{ card?.type === 'LEADER' ? 'Vidas' : 'Coste' }}:</span>
              <span>{{ card?.cost }}</span>
            </div>
            
            <div class="info-row">
              <span class="label">Atributo:</span>
              <span *ngIf="!card?.attribute?.image || card?.attribute?.image?.endsWith('undefined')">-</span>
              <img *ngIf="card?.attribute?.image && !card?.attribute?.image?.endsWith('undefined')" 
                   [src]="card?.attribute?.image" 
                   alt="Attribute Image">
            </div>
          </div>

          <!-- Segunda fila: Poder y Counter -->
          <div class="info-grid">
            <div class="info-row" *ngIf="card?.power">
              <span class="label">Poder:</span>
              <span>{{ card?.power }}</span>
            </div>
            <div class="info-row">
              <span class="label">Counter:</span>
              <span>{{ card?.counter }}</span>
            </div>
          </div>

          <!-- Color -->
          <div class="info-row">
            <span class="label">Color:</span>
            <span>{{ card?.color }}</span>
          </div>

          <!-- Familia -->
          <div class="info-row">
            <span class="label">Familia:</span>
            <span>{{ card?.family }}</span>
          </div>

          <!-- Habilidad -->
          <div class="info-row ability-row">
            <span class="label">Habilidad:</span>
            <span [innerHTML]="formatAbility(card?.ability)"></span>
          </div>

          <!-- Trigger -->
            <div class="info-row" *ngIf="card?.trigger">
            <span class="label">Trigger:</span>
            <span [innerHTML]="formatTrigger(card?.trigger)"></span>
            </div>

          <!-- Set -->
          <div class="info-row" *ngIf="card?.set?.name">
            <span class="label">Set:</span>
            <span>{{ card?.set?.name }}</span>
          </div>
        </div>

        <button class="close-button" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>