<app-navbar></app-navbar>

<div class="hero">
  <div class="hero-content">
    <h1>Bienvenido a One Piece TCG</h1>
    <p>Explora el fascinante mundo del juego de cartas coleccionables de One Piece</p>
    <div class="hero-buttons">
      <a routerLink="/cartas" routerLinkActive="active"  class="btn btn-primary">Ver cartas</a>
      <a routerLink="/mazos" routerLinkActive="active" class="btn btn-secondary">Explorar mazos</a>
    </div>
  </div>
</div>

<div class="features">
  <div class="feature">
    <h3>Más de 1000 cartas</h3>
    <p>Explora la colección completa de cartas de One Piece Card Game desde todas las expansiones</p>
  </div>
  <div class="feature">
    <h3>Construcción de mazos</h3>
    <p>Crea y guarda tus propios mazos personalizados para competir</p>
  </div>
  <div class="feature">
    <h3>Noticias y actualizaciones</h3>
    <p>Mantente al día con las últimas noticias y lanzamientos del juego</p>
  </div>
</div>
