.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/images/poster.webp');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 120px 0;
  text-align: center;
  margin: 0 200px;
  border-radius: 8px;
  margin-top: 20px;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 60px 200px;
  
  .feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: inherit;
    
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    }
    
    .feature-content {
      width: 70%;
      z-index: 2;
    }
    
    .feature-icon {
      font-size: 6rem;
      opacity: 0.7;
      z-index: 1;
      
      fa-icon {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
      }
    }
    
    &:nth-child(1) {
      background: linear-gradient(145deg, #5b80d9, #365499);
      color: white;
    }
    
    &:nth-child(2) {
      background: linear-gradient(145deg, #43c782, #348e5e);
      color: white;
    }
    
    &:nth-child(3) {
      background: linear-gradient(145deg, #fc8181, #d32f2f);
      color: white;
    }
    
    h3 {
      font-size: 1.7rem;
      margin-bottom: 15px;
      color: white;
      font-weight: 700;
      text-align: left;
    }
    
    p {
      color: rgb(244, 244, 244);
      font-size: 1.1rem;
      text-align: left;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    margin: 0 20px;
  }
  
  .features {
    grid-template-columns: 1fr;
    margin: 40px 20px;
    
    .feature {
      margin-bottom: 20px;
    }
  }
}