:host {
    display: block;
    margin: 20px 65px 0;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    input {
        flex: 1;
        padding: 0.7rem;
        border: 1px solid #e3e3e3;
        background-color: #e3e3e3;
        border-radius: 8px;

        &::placeholder {
          color: #6c6c6c;
          opacity: 1;
      }
    }

    button {
        padding: 0.8rem 1rem;
        background-color: #4064b4; // color un poco más oscuro
        color: #fff;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}

/* Estilos para los filtros en forma horizontal */
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 10px 0;
}

.filter {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.filter select {
    cursor: pointer !important;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 0.5rem;
}

.filter input {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 0.5rem;
}

.filter label {
    margin-bottom: 0.5rem;
}

.reset-container {
    margin-top: 10px;
    text-align: right;

    button {
        padding: 0.5rem 1rem;
        background-color: #888;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}